body {
  background-color: whitesmoke;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h2 {
  font-family: monospace;
  font-size: 128px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  font-family: monospace;
  margin: 20px;
  border-radius: 10px;
}

.pokemon-card img {
  width: 80%;
  height: 256px;
  object-fit: contain;
}

.pokemon-card p {
  font-size: 1.25em;
}

.pokemon-header {
  background-color: #252525;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hp-bar {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  padding: 30px 0 0 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.hp-bar .fill {
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.pokemon-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  color: #fff;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pokemon-details .left {
  text-align: left;
  padding: 10px 20px;
}

.pokemon-details .right {
  text-align: right;
  padding: 10px 20px;
}

button {
  background-color: #252525;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-family: monospace;
  box-shadow: 1px 2px 2px 0px rgb(77, 77, 77);
}

button:active {
  box-shadow: inset 1px 2px 2px 0px rgb(77, 77, 77);
}
